<div id="Provincia" ng-app="Provincia" style="height:100%;">
    @RenderPage(Url.Content("~/Views/Provincia/Bundle.cshtml"))
    <div ng-view style="height:100%;"></div>
</div>


<script src="~/Scripts/Angular - Modules/Provincia/ProvinciaModule.js"></script>
<script src="~/Scripts/Angular - Modules/Provincia/ProvinciaCtrl.js"></script>
<script src="~/Scripts/Angular - Modules/Services/ProvinciaService.js"></script>