<div id="Administracion" ng-app="Administracion" style="height:100%;">
    @RenderPage(Url.Content("~/Views/Administracion/Bundle.cshtml"))
    <div ng-view style="height:100%;"></div>
</div>

<script src="~/Scripts/Angular - Modules/Administracion/AdministracionModule.js"></script>
<script src="~/Scripts/Angular - Modules/Administracion/AdministracionCtrl.js"></script>
<script src="~/Scripts/Angular - Modules/Services/AdministracionService.js"></script>