<div id="Persona" ng-app="Persona" style="height:100%;">
    @RenderPage(Url.Content("~/Views/Persona/Bundle.cshtml"))
    <div ng-view style="height:100%;"></div>
</div>


<script src="~/Scripts/Angular - Modules/Persona/PersonaModule.js"></script>
<script src="~/Scripts/Angular - Modules/Persona/PersonaCtrl.js"></script>
<script src="~/Scripts/Angular - Modules/Services/PersonaService.js"></script>