<div id="Ciudad" ng-app="Ciudad" style="height:100%;">
    @RenderPage(Url.Content("~/Views/Ciudad/Bundle.cshtml"))
    <div ng-view style="height:100%;"></div>
</div>


<script src="~/Scripts/Angular - Modules/Ciudad/CiudadModule.js"></script>
<script src="~/Scripts/Angular - Modules/Ciudad/CiudadCtrl.js"></script>
<script src="~/Scripts/Angular - Modules/Services/CiudadService.js"></script>