<div id="Codigo" ng-app="Codigo" style="height:100%;">
    @RenderPage(Url.Content("~/Views/Codigo/Bundle.cshtml"))
    <div ng-view style="height:100%;"></div>
</div>


<script src="~/Scripts/Angular - Modules/Codigo/CodigoModule.js"></script>
<script src="~/Scripts/Angular - Modules/Codigo/CodigoCtrl.js"></script>
<script src="~/Scripts/Angular - Modules/Services/CodigoService.js"></script>